.header {
    font-family: Raleway, Arial, sans-serif;
    padding: 92px 49px 92px 51px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header_menu-list {
    display:flex;
    font-style: normal;
    gap: 33px; /*изменила отступ между списком с 32 на 33*/
    height: 21px;
    list-style-type: circle;
}

.header_menu-link {
    color: #000;
    font-size: 18px;
    line-height: normal;
    text-underline-position: under;
}

.header__links-list-item_no-bullit {
    text-decoration: none;
    list-style-type: none;
}

.header_logo {
    display: block;
    justify-self: center;
}

.header_logo-image {
    width: 148px;
    height: 105px;
}

.header_address {
    width: 240px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: auto;
    font-size: 18px;
    color: #000;
    font-style: normal;
    line-height: 24.3px;
    justify-self: end;
    text-underline-position: under;
}

.cover {
    font-family: Raleway, Arial, sans-serif;
    background-color:#000;
    background-image: url(../images/cover.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 165px 50px 0 50px;
    color: #fff;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.aligned-text {
    display: flex;
    line-height: 115%;
    letter-spacing: 30px;
    z-index: 1;
}

.aligned-text_center {
    display: flex;
    align-self: center;
    line-height: 100%;
    letter-spacing: 30px;
    z-index: 1;
}

.aligned-text_right {
    display: flex;
    align-self: end;
    line-height: 100%;
    letter-spacing: 30px;
    z-index: 1;
}

 .letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    color:#fff;
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 80px;
    padding: 135px 50px 50px;
    z-index: 1;
}

.cover__description-text {
    word-spacing: 18px;
    justify-content: space-between;
    line-height: 28px;
    text-align: right;
}

.bet-button {
    background-color: transparent;
    text-align: right;
    border: 1px solid #FFF;
    padding: 12px 32px;
}

.lots {
    padding: 180px 50px;
  }
  
  .lots__heading {
    color: #000;
    font-family: 'Raleway', "Arial", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 40px;
  }
  
  .lots__card-list {
    display: flex;
    padding: 27px 0 30px 0;
    gap: 25px;
    list-style-type: none;
  }
  
  .card-link {
    text-decoration: none;
}
  
  .lots__card-list-item {
    display: flex;
    width: 430px;
    min-height: 450px;
    flex-grow: 1;
  }
  
  .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  
  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  
  .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }

  .card__title {
    position: relative;
    color: #FFF;
    font-family: 'Raleway', "Arial", sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding: 50px 40px 0;
    z-index: 1;
  }

  .card__text {
    position: relative;
    color: #fff;
    font-family: 'Raleway', "Arial", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding: 0 40px 50px;
    z-index: 1;
  }
  
  .lots__look-more-link {
    color: #000;
    font-family: 'Raleway', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    margin-left: 40px;
    text-underline-position: under;
  }

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 50px 180px 50px;
    column-gap: 25px;
    justify-content: end; /*через это свойство выровняла элементы сетки вдоль оси строки */
    min-width: 1340px; /*с указанием минимальной ширины все элементы в блоке встают на свои места.*/
}

.about__column {
    display: flex;
    padding: 0;
    justify-content: center;
    max-width: 430px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    background-color: #000;
    padding: 0px 45px;
}

.about__logo-image {
    margin: auto;
    width: 148px;
    height: 114px;
    justify-items: center;
    justify-content: center;
}

.about-title {
    display: flex;
    color: #000;
    font-family: 'Raleway', "Arial", sans-serif; /*к основному шрифту добавила альтернативный шрифт и тип засечек*/
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 101px 594px 0 0;
}
.about-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 100px 0 0 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 885px;
}

.footer {
    padding: 0 50px 90px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.adress {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #000;
    font-style: normal;
    line-height: 24.3px;
    justify-self: start;
    text-underline-position: under;
}

.footer__menu-list {
    color: #000;
    text-align: center;
    font-family: 'Raleway', "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    text-underline-position: under;
}

.footer__social-list {
    display: flex;
    gap: 50px;
    max-width: 240px;
    max-height: 48px;
    list-style-type: none;
    justify-self: end;
}